@import "./partials/colors";
@import "./partials/buttons";
@import "./partials/separadores";
@import "./partials/header";
@import "./partials/typo";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorbordooscuro;
  justify-content: center;
  align-items: center;


  // -----------------------------------------------------------------HERO---------------------------------------------------

  .hero {
    background-color: $colorbordooscuro;

    .hero_content {
      width: 100%;
      text-align: center;
      padding-top: 4%;
      animation: aparecer 2s forwards;
      z-index: 2;
      position: absolute;
    }

    .contenedorvideo {
      z-index: 1;
      height: 650px;
      width: 100%;
      overflow: hidden;
      top: 0;

      video {
        width: 100%;
        overflow: hidden;
        bottom: -350px;
      }
    }
  }
}

  // ----------------------------------------------------------------COMPANIES---------------------------------------------------
.companias {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .icon-compania {
    padding: 24px;
    align-items: center;
  }

  @media (max-width: 850px) {
    .contenedor_compania {
      padding-top: 240px;
    }
  }
}

  // ----------------------------------------------------------------ITEMS---------------------------------------------------
.contenedoritem {
  border: #8D2C41 solid 0.3px;
  width: 272px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 8px;
  padding: 32px;
  padding-top: 48px;
  padding-bottom: 64px;
  box-shadow: 0px 4px 8px 12px rgba(255, 255, 255, 0.01);
  margin-bottom: 100px;
  position: relative;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: #250505;
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
    text-align: center;
  }

  @media (max-width: 850px) {
    border: #8D2C41 solid 0.3px;
    width: auto;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    margin: 8px;
    padding: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 4px 8px 12px rgba(255, 255, 255, 0.01);
    margin-bottom: 16px;
    position: relative;
    align-items: center;
    text-align: center;

    &:hover {
      background-color: #250505;
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 60px;
      text-align: center;
    }
  }
}

  // ----------------------------------------------------------------PERSONAS---------------------------------------------------
.personas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;

  .persona {
    border: #8D2C41 solid 0.3px;
    border-radius: 8px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      background-color: #250505;
    }

    .imagenpersona {
      width: 100px;
      border-radius: 4px;
      padding-bottom: 16px;
    }
  }
}

  // ----------------------------------------------------------------EVENTOS---------------------------------------------------
.date {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .event {
    height: auto;
    align-items: center;
    border-radius: 8px;
    border: #8D2C41 solid 0.3px;
    box-shadow: 0px 4px 8px 6px rgba(255, 255, 255, 0.01);
    border-radius: 4px;

    .datetext {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  @media (max-width: 1000px) {
    .event {
      padding: 20px;
    }
  }
}

  // ----------------------------------------------------------------INPUTS---------------------------------------------------
.contenedorinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;

  input {
    width: 500px;
    height: 40px;
    padding: 16px;
    background-color: #2D080F;
    border: 0px;
    color: #FFEEF2;
  }
}

  // ----------------------------------------------------------------POST------------------------------------------------------
.posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;

  .post {
    border: #8D2C41 solid 0.3px;
    border-radius: 8px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      background-color: #250505;
    }

    .post_img_up {
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      height: 200px;
      overflow: hidden;
    }

    .post_down {
      padding: 20px;
      width: 100%;
      text-align: left;
      border-radius: 0px 0px 8px 8px;
    }
  }
}

  // ---------------------------------------------------------------FOOTER------------------------------------------------------
.my_footer {
  margin-top: 100px;
  background-color: $colorfondo;
  height: 100px;
}

  // ---------------------------------------------------------------SCROLL------------------------------------------------------
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
